$firstDesign: true; 
$bodyBackground: #dcbb9a;
$briefBackground: #fadcba;
$contentBackground: #ffffff; 
$title: #893c00;
$text:#000000;
$link:#3d70a1;
$tableCaption: #e0e0e0;
$input:#808080;
$w: #ffffff;